<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appkey" value="val"/>
  </appSettings>
  <connectionStrings>
    <add name="MyNorthwind" connectionString="server=localhost\sqlexpress;database=MyNorthwind;Integrated Security=SSPI;"
			providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>